# Étate de session Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Cache et données temporaires
.obsidian/cache
.obsidian/.trash/

# Plugins locaux
.obsidian/plugins/

# Sorties de compilation LaTeX
Latex/*/main.pdf
Latex/*/main.synctex.gz
Latex/*/build/
